<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link type="image/x-icon" rel="icon" href="https://makers.tech/wp-content/themes/wp-makers-2018/favicon.ico">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <title>Makers BnB</title>
</head>

<body>
  <h1>Makers BnB</h1>
  <h4>
    <%= flash[:notice] %>
  </h4>
  <ul>
    <li>
      <a type="button" href="/session/new">
        <button>
          Sign in
        </button>
      </a>
    </li>
    <li>
      <a type="button" href="/user/new">
        <button>
          Sign up
        </button>
      </a>

    </li>


  </ul>

</body>
