<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link type="image/x-icon" rel="icon" href="https://makers.tech/wp-content/themes/wp-makers-2018/favicon.ico">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <title>Makers BnB</title>
</head>

<body>
  <h1>Makers BnB</h1>
  <h2>List new space</h2>

  <form action="/spaces" method="post">
    User ID<input type='text' name="User ID" placeholder="User ID"></input>
    Space name<input type='text' name="Space name" placeholder="Space name"></input>
    Description<input type='text' name="Description" placeholder="Description"></input>
    Price per night<input type='text' name="Price per night" placeholder="Price per night"></input>
    <input type="submit" value="Submit"></input>
  </form>
</body>
