<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link type="image/x-icon" rel="icon" href="https://makers.tech/wp-content/themes/wp-makers-2018/favicon.ico">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <title>Makers BnB</title>
</head>

<body>
  <h1>Makers BnB</h1>
  <!-- <% if @set_date == false%> -->
  <h2>List new space</h2>

  <form action="/store_space" method="post">
    Space name<input type='text' name="space_name" placeholder="Space name"></input>
    Description<input type='text' name="description" placeholder="Description"></input>
    Price per night<input type='number' name="price_per_night" placeholder="Price per night"></input>
    <input type="submit" value="submit"></input>
  </form>
   <!--
  <% else  #attempting to use if statement to show and hide availability %>
  <input id='date' type='text' name="date" placeholder="Set an availible date"></input>
  <%end%> -->
</body>
